@{
    ViewBag.Title = "Admin Zone";
}

<h2>Admin Zone</h2>

<article>
    <p>
        Admin Menu
    </p>
    <ul id="adminNavMenu">
        <li>@Html.ActionLink("Home", "Index", "Admin")</li>
        <li>@Html.ActionLink("Organization Details", "Organization", "Admin", new { id = ViewBag.OrganizationID }, null)</li>
        <li>@Html.ActionLink("Members", "OrgMembers", "Admin", new { id = ViewBag.OrganizationID }, null)</li>
        <li>@Html.ActionLink("Roles", "OrgRoles", "Admin", new { organizationID = ViewBag.OrganizationID }, null)</li>
    </ul>
</article>