.top-line {
    position: absolute;
    top: 0px;
    right: 0;
    width: 256px;
    height: 2px;
    background: #37aac1;
    border-bottom-left-radius: 90px;
}

.top-line-yellow {
    position: absolute;
    top: 0px;
    right: 0;
    width: 256px;
    height: 2px;
    background: rgb(185, 155, 35);
    border-bottom-left-radius: 90px;
}

.bottom-line-left {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 256px;
    height: 2px;
    background: #37aac1;
    border-top-right-radius: 90px;
}

.partialBorder-left-blue {
    border-left: 1px solid rgba(0, 153, 170, 0.9);
    position: absolute;
}

.partialBorder-right-blue {
    border-left: 1px solid rgba(0, 153, 170, 0.9);
    position: absolute;
}

.partialBorder-left-orange1 {
    border-left: 1px solid rgba(220, 160, 0, 0.5);
    position: absolute;
}

.partialBorder-right-orange1 {
    border-left: 1px solid rgba(220, 160, 0, 0.5);
    position: absolute;
}

.border-left {
    left: 0;
}

.border-right {
    right: 0;
}

.border-4px {
    height: 4px;
}

.border-top {
    top: 0;
}

.border-top1px {
    top: 1px;
}

.border-top50 {
    top: 0;
    bottom: 50%;
}

.border-bottom {
    bottom: 0;
}

.border-bottom1px {
    bottom: 1px;
}

.border-bottom70 {
    top: 70%;
    bottom: 0;
}

.partialBorderBottomLeft70 {
    border-left: 1px solid rgba(0, 153, 170, 0.9);
    position: absolute;
    top: 70%;
    bottom: 0;
}

.partialBorderTopRight50 {
    border-right: 1px solid rgba(0, 153, 170, 0.9);
    position: absolute;
    top: 0;
    bottom: 50%;
    right: 0;
}

.cornerToggle {
    background-image: url("https://sc.vvarmachine.com/images/misc/corner-background.png");
    width: 8px;
    height: 8px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.cornerToggle2 {
    background-image: url("https://sc.vvarmachine.com/images/misc/corner-background_white.png");
    width: 8px;
    height: 8px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.corner {
    background-image: url("https://sc.vvarmachine.com/images/misc/corner-background.png");
    width: 8px;
    height: 8px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.corner2 {
    background-image: url("https://sc.vvarmachine.com/images/misc/corner-background_yellow.png");
    width: 8px;
    height: 8px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

.cornerToggle.corner-top-left, .cornerToggle2.corner-top-left, .corner.corner-top-left, .corner2.corner-top-left {
    background-position: 0px 0px;
    left: -1px;
    top: -1px;
    position: absolute;
    display: block;
}

.cornerToggle.corner-top-right, .cornerToggle2.corner-top-right, .corner.corner-top-right, .corner2.corner-top-right {
    background-position: -2px 0px;
    right: -1px;
    top: -1px;
    position: absolute;
    display: block;
}

.cornerToggle.corner-bottom-left, .cornerToggle2.corner-bottom-left, .corner.corner-bottom-left, .corner2.corner-bottom-left {
    background-position: 0px -2px;
    left: -1px;
    bottom: -1px;
    position: absolute;
    display: block;
}

.cornerToggle.corner-bottom-right, .cornerToggle2.corner-bottom-right, .corner.corner-bottom-right, .corner2.corner-bottom-right {
    background-position: -2px -2px;
    right: -1px;
    bottom: -1px;
    position: absolute;
    display: block;
}

.corner4 {
    display: block;
    background-image: url("https://sc.vvarmachine.com/images/misc/corner-background-diag.png");
    width: 30px;
    height: 30px;
}

.corner-diag-blue-topLeft {
    background-position: 0px 0px;
    left: 0px;
    top: -6px;
    position: absolute;
    display: block;
}

.corner-diag-blue-topRight {
    background-position: -30px 0px;
    right: 0px;
    top: -6px;
    position: absolute;
    display: block;
}

.corner-diag-blue-bottomLeft {
    background-position: 0px -30px;
    left: 0px;
    bottom: -6px;
    position: absolute;
    display: block;
}

.corner-diag-blue-bottomRight {
    background-position: -30px -30px;
    right: 0px;
    bottom: -6px;
    position: absolute;
    display: block;
}

.table_header_block {
    width: 100px;
    height: 2px;
    background-color: rgba(0, 153, 170, 0.9);
    position: absolute;
}

.table_header_block2 {
    width: 100px;
    height: 2px;
    background-color: rgba(220, 160, 0, 0.65);
    position: absolute;
}

.table_header_block2_long {
    width: 180px;
    height: 2px;
    background-color: rgba(220, 160, 0, 0.65);
    position: absolute;
}

.playerShips_table_header_block2 {
    width: 140px;
    height: 1px;
    background-color: rgba(220, 160, 0, 0.65);
    position: absolute;
}

.table_header_block3 {
    width: 140px;
    height: 2px;
    background-color: rgba(10, 120, 140, 0.7);
    margin-left: 36px;
    margin-top: -2px;
}

.table_header_block4 {
    width: 100px;
    height: 2px;
    background-color: rgba(10, 120, 140, 0.7);
    margin-left: 24px;
    margin-top: -2px;
}

.table_header_block5 {
    width: 72px;
    height: 2px;
    background-color: rgba(10, 120, 140, 0.7);
    margin-left: 192px;
    margin-top: -2px;
}
