.help-page-table p {
    font-family: Electrolize;
}

.help-page h1,
.help-page .h1,
.help-page h2,
.help-page .h2,
.help-page h3,
.help-page .h3,
#body.help-page,
.help-page-table th,
.help-page-table pre {
    font-family: "Segoe UI Light", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

#mainWebsiteInner, #detailWebsiteInner {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.content-wrapper {
    margin-left: 1%;
    margin-right: 1%;
}

p {
    font-family: Electrolize;
    font-size: 12pt;
}

.help-page pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    height: 100%;
}

.help-page .warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0px 0px 8px 0px;
    border-top: 1px solid rgba(0, 153, 170, 0.9);
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid rgba(80, 70, 50, 0.8);
    padding: 5px 6px 5px 6px;
    font-style: italic;
    text-shadow: 0px 0px 8px #BBB;
    font-family: Electrolize;
}

.help-page-table tr {
    background: rgba(0,0,0,0.8);
}

.help-page-table tr.tr_highlightable {
    background: rgba(0,0,0,0.8);
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.help-page-table tr.tr_highlightable:hover {
    background: rgba(0,0,0,0.3);
}

.help-page-table td {
    border-bottom: 1px solid rgba(80, 70, 50, 0.8);
    padding: 10px 8px 10px 8px;
    vertical-align: middle;
    font-size: 10pt;
    font-family: Electrolize;
}

.help-page-table pre,
.help-page-table p {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}

.help-page .sample-header {
    border: 2px solid #D4D4D4;
    background: #00497E;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
    display: inline-block;
    margin: 10px 0px 0px 0px;
}

.help-page .sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    margin: 0px 0px 10px 0px;
}

.help-page .api-name {
    width: 15%;
}

.help-page .api-verb {
    width: 5%;
}

.help-page .api-uri {
    width: 35%;
}

.help-page .api-documentation {
    width: 45%;
}

.help-page .parameter-name {
    width: 20%;
}

.help-page .parameter-documentation {
    width: 40%;
}

.help-page .parameter-type {
    width: 20%;
}

.help-page .parameter-annotations {
    width: 20%;
}

.help-page h1,
.help-page .h1 {
    font-size: 24px;
    line-height: normal;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(0, 224, 255, 0.8), 0px 0px 12px rgba(0, 160, 182, 0.9);
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: orbitron;
}

.help-page h2,
.help-page .h2 {
    font-size: 20px;
    clear: both;
    color: #EEE;
    font-variant: small-caps;
    margin-top: 4px;
    margin-bottom: 8px;
    font-family: Electrolize;
}

.help-page h3,
.help-page .h3 {
    font-size: 14px;
    color: #DDD;
    padding-left: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: Electrolize;
    text-shadow: 0px 0px 4px rgba(0, 224, 255, 0.8), 0px 0px 12px rgba(0, 160, 182, 0.9);
}

#body.help-page {
    font-size: 14px;
    line-height: 143%;
    color: #D7E8FC;
}

html, body {
    height: 100%;
}

html {
    background: rgba(30, 30, 30, 0.85);
}

.sectionHeaderBlock {
    width: 100px;
    height: 2px;
    background-color: rgba(0, 153, 170, 0.9);
    position: absolute;
    margin-left: 1%;
}

.main-content {
    height: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(0,0,0,0.65);
    border-bottom: 1px solid rgba(102, 102, 102, 0.9);
    border-top: 1px solid rgba(0, 153, 170, 0.9);
}

.apiDetailsMainContent {
    padding-left: 8px;
    padding-right: 8px;
}

.sample-height{
    min-height: 20%;
    display: block;
    position: relative;
    margin-bottom: 20px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #0F151D;
    box-shadow: 0px 0px 20px RGBA(40, 110, 128, 0.6);
}

.help-page a {
    color: #DDD;
    text-decoration: none;
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    text-shadow: 0px 0px 8px #CCA300;
}

.help-page a:hover {
    background-color: transparent;
    color: #FFF;
    text-shadow: 0px 0px 8px #BBB;
}

.tabs {
    position: relative;
    display: table;
    border-spacing: 4px;
    border-collapse: separate;
}

.tab-Response, .tab-Request {
    display: table-cell;
    border-bottom: none;
    padding: 8px;
    cursor: pointer;
    border-bottom: 2px solid rgba(102, 102, 102, 0.9);
    background: rgba(0, 0, 0, 0.7);
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-family: orbitron;
    font-size: 12pt;
}

.tab-Response:hover, .tab-Request:hover {
    color: #FFF;
    text-shadow: 0px 0px 16px #BBB;
    background-color: rgba(0, 0, 0, 0.9);
}

.tabContent {
    margin-top: 4px;
}

.content-Response, .content-Request {
    position: relative;
    background: white;
    padding: 20px;
    border: 1px solid rgba(0, 153, 170, 0.9); 
    display: inline-table;
    width: 90%;
    background: rgba(0,0,0,0.4);
}

.content_inner {
    overflow-y: scroll;
    max-height: 400px;
    padding-left: 12px;
}

.indexTable_apiGroup {
    margin-top: 4px;
}

.indexTable_apiGroup_header {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    display: table-row;
    vertical-align: middle;
    cursor: pointer;
}

.indexTable_apiGroup_header_label {
    font-size: 16px;
    clear: both;
    color: #FFF;
    text-shadow: 0px 0px 4px rgba(0, 224, 255, 0.8), 0px 0px 12px rgba(0, 160, 182, 0.9);
    font-variant: small-caps;
    font-family: orbitron;
    display: table-cell;
    vertical-align: middle;
}

.indexTable_apiGroup_content {
    margin-top: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

.rotate90CW {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.img_arrow01 {
    display: table-cell;
    vertical-align: middle;
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

.clickableRow {
    cursor: pointer;
}