@using DalSoft.WebApi.HelpPage.Models
@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    var title = description.HttpMethod.Method + " " + description.RelativePath;
}
<!DOCTYPE html>

<!--SWEET SPACE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Electrolize' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>

<html>
<head>
    <title>@title</title>
    <link type="text/css" href="@ViewBag.HelpRoute/HelpPage_css" rel="stylesheet" />
</head>
<body>
    <div id="detailWebsiteInner">
        <div id="body" class="help-page">
            <section class="featured">
                <div class="content-wrapper">
                    <p>
                        <a href="/@ViewBag.HelpRoute">&#8672;Help Page Home</a>
                    </p>
                </div>
            </section>
            <div class="sectionHeaderBlock">
            </div>
            <section class="content-wrapper main-content clear-fix">
                @Include("HelpPageApiModel.cshtml", Model, typeof(HelpPageApiModel))
            </section>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!--Script to Show/Hide Tab Content When Each Header is Clicked-->
<script>
    $(document).ready(function () {
        //Hide All Content on page-load
        $('.content-Request').hide();
        $('.content-Response').hide();

        //Color all Tab Headers and Borders as normal color per CSS on-load
        $('.tab-Request').css(
            {
                "background": 'rgba(0, 0, 0, 0.7)'
                ,"border-bottom": '2px solid rgba(102, 102, 102, 0.9)'
            }
        );

        $('.tab-Response').css(
            {
                "background": 'rgba(0, 0, 0, 0.7)'
                , "border-bottom": '2px solid rgba(102, 102, 102, 0.9)'
            }
        );

        //Show the 1st Conent div for Request and Response
        $('#content-Request-0').show();
        $('#content-Response-0').show();

        //Color 1st Tab-Header to Show it's Selected for Request and Response
        $('#tab-Request-0').css(
            {
                "border-bottom": '2px solid rgba(0, 194, 200, 0.9)'
            }
        );
        $('#tab-Response-0').css(
            {
                "border-bottom": '2px solid rgba(0, 194, 200, 0.9)'
            }
        );

    });

    $('.tab-Request').click(function () {
        //set all other tabs to standard colors
        $('.tab-Request').css(
            {
                "border-bottom": '2px solid rgba(102, 102, 102, 0.9)'
            }
        );

        var $self = jQuery(this);

        //set this tab to selected color
        $self.css(
            {
                "border-bottom": '2px solid rgba(0, 194, 200, 0.9)'
            }
        );

        //hide all request content
        $('.content-Request').hide();

        var $tabID = $self.attr('id').substr(12);
        //show content for this tab
        $('#content-Request-' + $tabID).show();

    });

    $('.tab-Response').click(function () {
        //set all other tabs to standard colors
        $('.tab-Response').css(
            {
                "border-bottom": '2px solid rgba(102, 102, 102, 0.9)'
            }
        );

        var $self = jQuery(this);

        //set this tab to selected color
        $self.css(
            {
                "border-bottom": '2px solid rgba(0, 194, 200, 0.9)'
            }
        );

        //hide all request content
        $('.content-Response').hide();

        var $tabID = $self.attr('id').substr(13);
        //show content for this tab
        $('#content-Response-' + $tabID).show();

    });
</script>
