@{
    ViewBag.Title = "SC NET Wiki";
}

<h2>SC NET Wiki</h2>

<article>
    <p>
        Wiki Menu
    </p>
    <ul id="wikiNavMenu">
        <li>@Html.ActionLink("Home", "Index", "SecuredHome")</li>
        <li>@Html.ActionLink("Ranks", "Ranks", "Wiki")</li>
    </ul>
</article>